div{
    border:2px solid;
    min-height: 200px;
    width:200px;
    display: inline;
}
#d1{
    background-color: aqua;
    position: static;
}
#d2{
    background-color: red;
    position: relative;
    left:300px;
}
#d3{
    background-color: green;
    position:absolute;
   
}
#d4{
    background-color: pink;
    position: fixed; 
    z-index: -10;
}

#parent{
    border:2px solid;
    border-color: blueviolet;
    min-height: 800px;
    width:400px;
    z-index: 5;
    position: relative;
}