 body{
    background: linear-gradient(135deg, #ff7e5f, #ece6e2,rgb(171, 171, 251));
 }
nav{
    height: 80px;
    background-color: aqua;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    margin-bottom: 100px;
    z-index: 1;

}
#head{
    display: inline-block;
    float: left;
    margin: 2px 20px 20px 20px;
    color: blueviolet;
    border: 2px solid;
    border-radius: 10px;
    border-color: blue;
    padding: 0px 10px 0px 10px ;
    
}
#link a{
display: inline;
float: right;
text-align: center;
padding: 20px 20px 20px 10px ;
}
.para {
    height: 350px;
    width: 100%;
    display: block;
    margin: auto;
    border: 4px solid;
    margin: 90px 0 0px 0; 
    position: relative;
}


.para img{
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 30px 20px;
    float: left;
    width:25%;
    height: 230px;
    display: inline-block;
    position:absolute;
}

#content{
 display: block;
    float: right;
    width: 60%;
    text-align: justify;
    overflow: auto;
    padding: 10px 20px 10px 20px;
}